
<body>
    <div class="login-section">
        <form action="">
            <div class="items">
                <h3>Sign in</h3>
            <div class="name_section">
                <label for="name">Name</label>
                <input type="text" placeholder="Name">
            </div>
            <div class="school_section">
                <label for="school">School</label>
                <input type="text" placeholder="School">
            </div>
            <div class="region_section">
                <label for="region">Region/Location</label>
                <input type="text" placeholder="Location">
            </div>
            <div class="gender_section">
                <label for="gender">Gender</label>
                <input type="text" placeholder="Male/Female">
            </div>
            <div class="age_section">
                <label for="age">Age</label>
                <input type="number" placeholder="Age">
            </div>
            <div class="grade_section">
                <label for="grade">Grade</label>
                <input type="number" placeholder="Grade">
            </div>
            <div class="email_section">
                <label for="email">Email</label>
                <input type="text" placeholder="Email">
            </div>
            <div class="password_section">
                <label for="password">Password</label>
                <input type="text" placeholder="Password">
            </div>
            <div class="password_section">
                <label for="password">Confirm Password</label>
                <input type="text" placeholder="Confirm Password">
            </div>
            <div class="button_section">
                <input type="submit">
            </div>
            </div>

        </form>
    </div>
</body>
